/**
 * VARIABLES
 */

/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BREAKPOINTS
 * COLORS
 * FONTS
 */




/* -------------------------------------------------------------------------- *\
   $BREAKPOINTS
\* -------------------------------------------------------------------------- */

@bp-tiny:   40em; /* 40 * 16 =  640px */
@bp-small:  48em; /* 48 x 16 =  768px */
@bp-medium: 64em; /* 64 x 16 = 1024px */
@bp-large:  90em; /* 90 x 16 = 1440px */





/* -------------------------------------------------------------------------- *\
   $COLORS
\* -------------------------------------------------------------------------- */

@color-navy:       #001f3f;
@color-blue:       #0074d9;
@color-aqua:       #7fdbff;
@color-teal:       #39cccc;
@color-olive:      #3d9970;
@color-green:      #2ecc40;
@color-lime:       #01ff70;
@color-yellow:     #ffdc00;
@color-orange:     #ff851b;
@color-red:        #ff4136;
@color-fuchsia:    #f012be;
@color-purple:     #b10dc9;
@color-maroon:     #85144b;
@color-white:      #fff;
@color-white-dark: #f6f6f6;
@color-silver:     #ddd;
@color-gray:       #aaa;
@color-black:      #222;





/* -------------------------------------------------------------------------- *\
   $FONTS
\* -------------------------------------------------------------------------- */

@font: "Raleway", sans-serif;
@font-secondary: Georgia, serif;




